<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Ristorante</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" *ngIf="currentUser$ | async as user" class="nav-item nav-link">{{ user.email}}</a>
            <div class="nav-item dropdown" *ngIf="(currentUser$ | async )">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Manage</a>
                <div class="dropdown-menu">
                    <a routerLink="/vendor/products" class="dropdown-item">Manage Products</a>
                    <a routerLink="/vendor/orders" class="dropdown-item">Manage Orders</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                </div>
            </div>
        </div>
       
        <div class="navbar-nav">
          <ng-container  *ngIf="(currentUser$ | async )">
            <a href="#" class="nav-item nav-link" *ngIf="!userObj.isAdmin">Settings</a>
            <a (click)="onLogoutClick()" href="#" class="nav-item nav-link">Logout</a>
          </ng-container>
          <ng-container *ngIf="!(currentUser$ | async )">
            <a routerLink="/login" class="nav-item nav-link">Login</a>
            <a routerLink="/register" class="nav-item nav-link">Register</a>
          </ng-container>
        </div>
    </div>
  </div>

</nav>
