<div class="row">
  <div class="col-md-6">
    <h3><i class="fa fa-users"></i>Clients</h3>
  </div>
  <div class="col-md-6">
    <h5 class="text-right text-secondary">Total Owed: {{totalOwed  | currency:"KSH":"symbol"}}</h5>
  </div>
</div>

<table mdbTable *ngIf="clients?.length > 0 ;else noClients" striped="true" hover="true" >
  <caption>List of clients</caption>
  <thead class="info-color lighten-1 black-text">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Balance</th>
      <th></th>

    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of clients; let i=index">
      <th scope="row">{{i}}</th>
      <td>{{el.firstName}} {{el.lastName}}</td>
      <td>{{el.email}}</td>
      <td>{{el.phone}}</td>
      <td>{{el.balance  | currency:"KSH":"symbol"}}</td>
      <td> <a routerLink="client/{{el.key}}" class="btn btn-secondary">Details</a></td>
    </tr>
  </tbody>
</table>

<ng-template #noClients>
  <hr>
  <h5>There are no clients in the system</h5>
</ng-template>
